.config-promocoes-text {
    display: flex;
    justify-content: center;  
}

.ajuste-footer-promocoes {
    margin-top: 150px;
    
}

.divisao-promocoes {
    margin: 50px 450px 0 450px;
    border: solid 1px grey;
}

.divisao-promocoes2 {
    margin: 20px 0 0 50px;
      
}

.quem-somos {
    background-color: #fff;
    height: 800px;
    margin-top: 20px;
    display: flex;
    padding: 30px 70px 30px 70px;
    box-shadow: 0 0 0.5em rgb(136, 136, 136);
    
}

h4 {
    color: #00ACB7;
    
       
}

.quem-somos h5 {
    text-transform: lowercase;
    margin-top: 30px;
    font-size: 18px;
    font-family: Poppins, sans-serif !important;
}

.quem-somos p{
    margin-top: 30px;

}

.redes-final {
    padding-top: 20px;
    margin-bottom: 70px;
}

.item-compra {
    background-color: #fff;
    margin-top: 20px;
    height: 530px;
    display: flex;
}

.img-cima, .img-baixo {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}



h5 {
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 10px;
}

.btn-edit1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-price1 {
    font-size: 15px;
    margin-top: 50px;
    
}





