#container_login {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.login {
    display: flex;
    justify-content: space-between;
    background: #fff;
    width: 1370px;
    height: 80vh;
    border-radius: 15px;
    
}


.login_img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    background: #f8c9ea;
    border-radius: 15px 0px 0px 15px;
}


.login_img img {
    width: 88%;
}


.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}


.form h5 {
    color: #000;
    font-size: 50px;
    margin-top: 30px;
}

.form p {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.form label {
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
}

.form input {
    width: 450px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 10px;
    padding-left: 10px;
    padding: 18px;
}

.form ::-webkit-input-placeholder {
    color: rgb(0, 0, 0, .4);
}

.icons-login i {
    margin: 30px 5px;
    padding: 12px;
    background: rgb(0, 0, 0, .1);
    border-radius: 5px;
    font-size: 30px;
    transition: .3s ease;
    cursor: pointer;
}

.icons-login i:hover {
    background-color:  #d22c9e;
    color: #fff;

}


form a {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    color: #d22c9e;
    font-weight: bold;
}

form a:hover{
    color: #d22c9e;
}

.btn-acessar {
    margin-top: 30px;
    background: #d22c9e;
    width: 160px;
    border-radius: 30px;
    height: 50px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;  
}

.btn-acessar:hover{
    color: #000;
}

.form i {
    color: #d22c9e;
    font-size: 20px;
}

.acessar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.radio {
    display: flex;
    width: 15px !important;
    margin-top: 36px;
    margin-left: 130px;
    cursor: pointer;
}

.acessar label {
    font-size: 15px;
    margin-top: 42px;
}

.topoForm {
    display: flex;
    justify-content: start;
    padding-top: 15px;
}

.topoForm a {
    color: #d22c9e;
    font-weight: bold;
    padding: 4px 10px; 
}


/* -------- Registro -----------*/
.btn-acessar2 {
    margin-top: 35px;
    background: #d22c9e;
    width: 160px;
    border-radius: 30px;
    height: 50px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;  
}

.formRegistro label {
    margin-top: 20px;
}

.btn-acessar2:hover{
    color: #000;
}

.form h6 {
    color: #000;
    font-size: 50px;
    margin-top: 60px;
}

/* -------- Voltar -----------*/
.btn-voltar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 110px;
}

.btn-voltar a{
    color: #fff;
    padding-top: 80px;
    width: 1360px;
}




/* -------- Responsividade -----------*/

@media screen and (max-width: 575.98px) {
    

    #container_login {
        height: 900px;
        padding-bottom: 50px;
    }

    .login {
        width: 350px;
        height: 700px;
        justify-content: center;
    }

  
    .login_img {
        display: none;
    }

    .topoForm {
        width: 350px;
        justify-content: center;
    }

    .topoForm p{
        font-size: 16px;
    }

    .btn-voltar a{
        width: 350px;
        padding: 30px;
    }

    .form input {
        width: 300px;
    }

    .form h6, .form h5 {
        font-size: 30px;
    }

    .form label {
        font-size: 20px;
    }


    form a {
        justify-content: center;
    }

    .acessar {
        flex-direction: column;
    }
    
    .radio {
       display: none;
    }
    
    .acessar label {
        font-size: 15px;
    }


    .topoForm a{
        padding: 0px 10px;
    }

    .btn-voltar {
        height: 60px;
    }

    .icons-login i {
        margin: 10px 2px;
        padding: 10px;
        font-size: 15px;
    }

    .btn-acessar {
        width: 300px;
    }

    .btn-acessar2 {
        width: 300px;
    }

    .form h6 {
        margin-top: 20px;
    }

    
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {

    #container_login {
        height: 100vh;
        margin-bottom: 200px; 
    }
    

    .login {
        width: 550px;
        height: 670px;
        justify-content: center;
    }
    
    .login_img {
        display: none;
    }

    .topoForm {
        width: 550px;
        justify-content: center;
    }

    .btn-voltar a{
        width: 550px;
    }

    .form h6, .form h5 {
        font-size: 40px;
    }

    .icons-login i {
        margin: 10px 5px;
        padding: 10px;
        font-size: 25px;
    }

    .form h6 {
        margin-top: 10px;
    }

    
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {


    #container_login {
        height: 100vh;
        margin-bottom: 200px; 
    }

    .login {
        width: 768px;
        height: 700px;
    }

    .btn-voltar a{
        width: 768px;
    }

    .form input {
        width: 350px;
        height: 35px; 
        margin: 0 auto;
        
    }

    .form h5 {
        margin-top: 50px;
    }

    .form h6 {
        margin-top: 10px;
    }

    .login_img {
        width: 45%;
    }

    .form {
        width: 55%;
        
    }

    .radio {
        margin-top: 35px !important;
        margin-left: 40px !important;
    }

    .icons-login i {
        margin: 10px 5px;
        padding: 10px;
        font-size: 25px;
    }

    
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {

    #container_login {
        height: 100vh;
        margin-bottom: 200px; 
    }

    .login {
        width: 992px;
        height: 700px;
        justify-content: center;
    }

    .btn-voltar a{
        width: 992px;
    }

    .form input {
        width: 400px;
        height: 35px;   
        margin: 0 auto;
    }

    .form h5 {
        margin-top: 30px;
    }

    .form h6 {
        margin-top: 10px;
    }

  

    .icons-login i {
        margin: 10px 5px;
        padding: 10px;
        font-size: 25px;
    }

   
}

@media screen and (min-width: 1200px) and (max-width: 1480px){

    
    #container_login {
        min-height: 100vh;
        margin-bottom: 200px;
        
    }

    
    .login {
        width: 1200px;
        min-height: 700px;
        max-height: 700px;
    }

    .btn-voltar a{
        width: 1200px;
    }

    .form h5 {
        margin-top: 30px;
    }

    .form h6 {
        margin-top: 10px;
    }

    .icons-login i {
        margin: 10px 5px;
        padding: 10px;
        font-size: 25px;
    }
    
    
}


@media screen and (min-width: 1480px){
   
    #container_login {
        min-height: 100vh;
        
    }

    .login {
        min-height: 720px;
        max-height: 100vh;
    }

   

}









