/* Extra small devices (portrait phones, less than 576px)*/

@media screen and (max-width: 575.98px) {

/* Navbar */
#container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 576px;
    height: 90px;  
}

.btns {
    display: none;
}


.checkbtn {
    display: block;
    margin: 15px 15px;

}

.respon {
    display: block;
}



header ul li {
    display: block;
    list-style: none;
    padding: 20px 0px; 
}



header ul li a{
    color: #fff;
    font-weight: 500;
    padding-left: 10px;

}

header ul li a:hover {
    text-decoration: none;
    transition: all .5s;
    color: #AB08BB;
}

ul{
  margin-top: 20px;
  position: fixed;
  width: 100%;
  height: 700px;
  background: linear-gradient(to right, #AB08BB, #612abb) no-repeat;
  top: 90px;
  right: -100%;
  transition: all .5s;
  z-index: 99;
}

.open {
  right: 0;
}

/* Content inicio */

#container_itens {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 576px;
    min-width: 50px;
    height: 73vh;
    }

     h1{
        font-size: 45px;
        max-width: 300px;
    }

    p {
        font-size: 20px;
        max-width: 300px;
    }

    #p_respon {
        display: none;
    }

    .img_player{
       display: none;
        
    }


    h1::after {
        content: '|';
        margin-left: 5px;
        opacity: 1;
        animation: pisca .7s ;
    }

    /* BF Coins */

    #container_txt{
        transform: scaleY(1.1);
        height: 150px;
        background: #fff;
    }

    #container_bfc{
        height: 100%;
    }


    .bfc_items {
        width: 768px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .bfc1, .bfc2, .bfc3 {
        margin-bottom: 15px;
    }


     /* Galeria */
     .galeria_items{
        justify-content: space-around;
        width: 575px;
    }

    .efeitoglr1::before, .efeitoglr2::before, .efeitoglr3::before, .efeitoglr4::before{
        height: 36px;
    }

    #txtgaleria {
        transform: scaleY(1.01);
    }

    .alternando {
        transform: scaleY(1.1)
    }

    /* ----- pré-save----- */

    #game_items {
        width: 992px;
        justify-content: space-around;
        flex-direction: column;
    }

     #imgResponsive {
        width: 250px;
     }

    h3{
        color: #fff;
        font-size: 32px;
        margin-left: 0px;
    }
 
    .presave {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 20px;
    
    }
    
    .presave img{
       margin: 0;
    }
    
    .presave p {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }
    
    .input{
       background: #fff;
       width: 300px;
       height: 40px;
       border-radius: 12px;
       cursor: text;
    }

    .btn-game {
        margin: 0;
        margin-top: 20px;
        border-radius: 12px;
        background: #d22c9e;
        width: 200px;
        height: 40px;
        color: #fff;
        font-weight: 700;
    }


    /* ----- Footer ------- */
 
    #footer_items {
        justify-content: space-around;
        flex-direction: column;
        width: 768px;
        height: 600px;
    }
    
}

/* Small devices (tablet, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {

    /* Navbar */
    #container_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vh;
        height: 90px;  
    }

    .btns {
        display: none;
    }
    

  .checkbtn {
    display: block;
    margin: 15px 15px;
    
  }

.respon {
    display: block;
  
}



  header ul li {
    display: block;
    list-style: none;
    padding: 20px 0px; 
}



header ul li a{
    color: #fff;
    font-weight: 500;
    padding-left: 10px;
    
    
}

header ul li a:hover {
    text-decoration: none;
    transition: all .5s;
    color: #AB08BB;
}

  ul{
      margin-top: 20px;
      position: fixed;
      width: 100%;
      height: 80vh;
      background: linear-gradient(to right, #AB08BB, #612abb) no-repeat;
      top: 90px;
      right: -100%;
      transition: all .5s;
      z-index: 99;
  }

  .open {
      right: 0;
  }



  /* Content inicio */

  #container_itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 576px;
    height: 73vh;
    }

     h1{
        font-size: 50px;
        max-width: 400px;
    }

    p {
        font-size: 18px;
        max-width: 400px;
    }

    #p_respon {
        display: none;
    }
  

    .img_player{
        width: 350px;
        padding: 0;
        margin: 0;
        
    }

    

    h1::after {
        content: '|';
        margin-left: 5px;
        opacity: 1;
        animation: pisca .7s ;
    }


    /* BF Coins */

    #container_txt{
        transform: scaleY(1.1);
        height: 150px;
        background: #fff;
    }

    #container_bfc{
        height: 100%;
    }


    .bfc_items {
        width: 768px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .bfc1, .bfc2, .bfc3 {
        margin-bottom: 15px;
    }


     /* Galeria */
     .galeria_items{
        justify-content: space-around;
        width: 576px;
    }

    .efeitoglr1::before, .efeitoglr2::before, .efeitoglr3::before, .efeitoglr4::before{
        height: 36px;
    }

    /* ----- pré-save----- */

    #game_items {
        width: 576px;
        justify-content: space-around;
        flex-direction: column;
    }

     #imgResponsive {
        width: 400px;
     }

    h3{
        color: #fff;
        font-size: 32px;
        margin-left: 0px;
    }
 
    .presave {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 20px;
    
    }
    
    .presave img{
       margin: 0;
    }
    
    .presave p {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }
    
    .input{
       background: #fff;
       width: 350px;
       height: 40px;
       border-radius: 12px;
       cursor: text;
    }

    .btn-game {
        margin: 0;
        margin-top: 20px;
        border-radius: 12px;
        background: #d22c9e;
        width: 200px;
        height: 40px;
        color: #fff;
        font-weight: 700;
    }


    /* ----- Footer ------- */
 
    #footer_items {
        justify-content: space-around;
        flex-direction: column;
        width: 7576px;
        height: 600px;
    }
    
    #txtgaleria {
        transform: scaleY(1.01);
    }

    .alternando {
        transform: scaleY(1.1)
    }

}

/* Small devices (tablet modo paisagem) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {

    /* Navbar */
    #container_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vh;
        height: 90px;  
    }

    .btns {
        display: none;
    }
    

  .checkbtn {
    display: block;
    margin: 15px 15px;
    
  }

  .respon {
    display: block;
    }

    #p_respon {
        display: none;
    }


  header ul li {
    display: block;
    list-style: none;
    padding: 20px 0px; 
}



header ul li a{
    color: #fff;
    font-weight: 500;
    padding-left: 10px;
    
}

header ul li a:hover {
    text-decoration: none;
    transition: all .5s;
    color: #AB08BB;
}

  ul{
      margin-top: 20px;
      position: fixed;
      width: 100%;
      height: 80vh;
      background: linear-gradient(to right, #AB08BB, #612abb) no-repeat;
      top: 90px;
      right: -100%;
      transition: all .5s;
      z-index: 99;
  }

  .open {
      right: 0;
  }

 

  /* Content inicio */

  #container_itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 576px;
    height: 73vh;
    }

     h1{
        font-size: 50px;
        max-width: 400px;
    }

    .texto_animado p {
        font-size: 5px;
        max-width: 400px;
    }

    .img_player{
        width: 350px;
        padding: 0;
        margin: 0;
    }

    h1::after {
        content: '|';
        margin-left: 5px;
        opacity: 1;
        animation: pisca .7s;
    }


    /* BF Coins */

    #container_txt{
        transform: scaleY(1.1);
        height: 150px;
        background: #fff;
    }

    #container_bfc{
        height: 100%;
    }


    .bfc_items {
        width: 768px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .bfc1, .bfc2, .bfc3 {
        margin-bottom: 15px;
    }


     /* Galeria */
     .galeria_items{
        justify-content: space-around;
        width: 768px;
    }

    .efeitoglr1::before, .efeitoglr2::before, .efeitoglr3::before, .efeitoglr4::before{
        height: 36px;
    }

    #txtgaleria {
        transform: scaleY(1.01);
    }

    .alternando {
        transform: scaleY(1.1)
    }

    /* ----- pré-save----- */

    #game_items {
        width: 992px;
        justify-content: space-around;
        flex-direction: column;
    }

     #imgResponsive {
        width: 700px;
     }

    h3{
        color: #fff;
        font-size: 32px;
        margin-left: 0px;
    }
 
    .presave {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 20px;
    
    }
    
    .presave img{
       margin: 0;
    }
    
    .presave p {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }
    
    .input{
       background: #fff;
       width: 350px;
       height: 40px;
       border-radius: 12px;
       cursor: text;
    }

    .btn-game {
        margin: 0;
        margin-top: 20px;
        border-radius: 12px;
        background: #d22c9e;
        width: 200px;
        height: 40px;
        color: #fff;
        font-weight: 700;
    }


    /* ----- Footer ------- */
 
    #footer_items {
        justify-content: space-around;
        flex-direction: column;
        width: 768px;
        height: 600px;
    }

    #txtgaleria {
        transform: scaleY(1.1);
    }
   



}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {


    /* ----- Topo site ----- */
    header ul li a{
        color: #fff;
        
        font-weight: 500; 
    }

    .btns {
        text-align: center;
        padding-right: 40px;
        
    }
    
    .btn-edit {
        background: none;
        color: #fff;
        border: 2px solid #d22c9e;
        border-radius: 10px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        width: 120px;
        padding: 10px;
        position: relative;
        cursor: pointer;
        transition: color 0.4s ease;
    }
    
    .efeito::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 38px;
        background: #d22c9e;
        border-radius: 7px;
        transition: all .8s ease;
        z-index: -1;
    }
    
    .efeito:hover::before{
        width: 100%;
    }
    
    .btn-edit2 {
        background: none;
        color: #fff;
        border: 2px solid #d22c9e;
        border-radius: 10px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        width: 60px;
        padding: 10px;
        position: relative;
        cursor: pointer;
        transition: color 0.4s ease;
    }
    
    .efeito2::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 0px;
        height: 38px;
        background: #d22c9e;
        border-radius: 7px;
        transition: all 1s ease;
        z-index: -1;
    }
    
    .efeito2:hover::before{
        width: 100%;
    }

    #container_nav {
        width: 1000px;
        height: 90px;  
    }

    #container_itens {
        min-width: 1000px;
        height: 73vh;
    }

    h1{
        font-size: 40px;
        max-width: 300px;
    }

    p {
        font-size: 20px;
    }

    .img_player{
        width: 500px;
        padding: 0;
        margin-right: 10px;
    }

    .texto_animado{
        margin-left: 50px;
    }



    /* ----- Galeria----- */

    .galeria_items{
        justify-content: space-around;
        width: 992px;
    }

    .efeitoglr1::before, .efeitoglr2::before, .efeitoglr3::before, .efeitoglr4::before{
        height: 35px;
    }

    /* ----- pré-save----- */

    #game_items {
        width: 992px;
        justify-content: space-around;
        flex-direction: column;
    }

     #imgResponsive {
        width: 800px;
     }

    h3{
        color: #fff;
        font-size: 32px;
        margin-left: 0px;
    }
 
    .presave {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 20px;
    
    }
    
    .presave img{
       margin: 0;
    }
    
    .presave p {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }
    
    .input{
       background: #fff;
       width: 350px;
       height: 40px;
       border-radius: 12px;
       cursor: text;
    }

    .btn-game {
        margin: 0;
        margin-top: 20px;
        border-radius: 12px;
        background: #d22c9e;
        width: 200px;
        height: 40px;
        color: #fff;
        font-weight: 700;
    }

    /* ----- Footer----- */
    
    #footer_items {
        justify-content: space-around;
        width: 992px;
    }

    #container_txt, #txtgaleria, .alternando {
        transform: scaleY(1.1)
    }


}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) and (max-width: 1480px) {


    /* ---- Topo site ---- */

    #container_nav {
        width: 1200px;
    }

    .img_player{
        width: 450px;
        padding: 0;
        margin: 0;
    }

    #container_itens {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 1170px;
        height: 73vh;
    }


    /* ---- BFC ---- */

    .bfc_items {
        width: 1200px;
    }


    /* ---- Galeria ---- */

    .galeria_items{
        justify-content: space-around;
        flex-wrap: wrap;
        width: 1400px;
    }


    /* ----- pré-save----- */

    #game_items {
        width: 992px;
        justify-content: space-around;
        flex-direction: column;
    }

     #imgResponsive {
        width: 800px;
     }

    h3{
        color: #fff;
        font-size: 32px;
        margin-left: 0px;
    }
 
    .presave {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 20px;
    }
    .presave img{
       margin: 0;
    }
    
    .presave p {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }
    
    .input{
       background: #fff;
       width: 350px;
       height: 40px;
       border-radius: 12px;
       cursor: text;
    }

    .btn-game {
        margin: 0;
        margin-top: 20px;
        border-radius: 12px;
        background: #d22c9e;
        width: 200px;
        height: 40px;
        color: #fff;
        font-weight: 700;
    }

    #container_txt, #txtgaleria, .alternando {
        transform: scaleY(1.1)
    }



}